# Heap Algorithm

In [138]:
!pip -q install pandas
!pip -q install openpyxl
!pip -q install opencv-python
!pip -q install matplotlib

In [139]:
import pandas as pd

### Read data

In [140]:
df = pd.read_excel('books.xlsx')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271379 non-null  object
 1   Book-Title           271379 non-null  object
 2   Book-Author          271377 non-null  object
 3   Year-Of-Publication  271358 non-null  float64
 4   Publisher            271377 non-null  object
 5   Image-URL-S          271378 non-null  object
 6   Image-URL-M          271379 non-null  object
 7   Image-URL-L          271376 non-null  object
dtypes: float64(1), object(7)
memory usage: 16.6+ MB

In [142]:
df.describe()

       Year-Of-Publication
count        271358.000000
mean           1959.760965
std             257.993762
min               0.000000
25%            1989.000000
50%            1995.000000
75%            2000.000000
max            2050.000000

In [143]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [144]:
new_df = df.dropna().drop_duplicates()

### Get data from dataframe

In [145]:
class BookDetails:
    def __init__(self):
        self._year = None
        self._isbn = None
        self._publisher = None
        self._book_title ,self._book_author = None, None
        self._url_s ,self._url_m, self._url_l = None, None, None
        self.allbook = []

    def push(self, year, isbn, publisher, book_author, book_title, url_s, url_m, url_l):
        self.allbook.append((year, 
                            isbn,
                            publisher,
                            (book_author, book_title),
                            (url_s, url_m, url_l)))

In [146]:
# Initialization class
book = BookDetails()
for index in range(len(new_df)):
    row_details = new_df.iloc[index]
    book.push(int(row_details['Year-Of-Publication']),
              row_details['ISBN'],
              row_details['Publisher'],
              row_details['Book-Author'], row_details['Book-Title'],
              row_details['Image-URL-S'], row_details['Image-URL-M'], row_details['Image-URL-L'])
# Return book.allbook list

### Algorithm

In [147]:
class HeapTree:
    def __init__(self):
        self.lst = ['None']

    def _swap(self, index):
            left_index = index // 2 # parent node
            if index > 1 and self.lst[index][0] < self.lst[left_index][0]: # move into parent node 
                self.lst[index], self.lst[left_index] = self.lst[left_index], self.lst[index] # swap
                index = left_index
                self._swap(index)
    
    def _delete_swap(self,index):
            if self.lst[2*index][0] <= self.lst[2*index+1][0]: # compare between 2 nodes which have same level
                if self.lst[index][0] > self.lst[2*index][0] and 2*index < len(self.lst):
                    self.lst[index], self.lst[2*index] = self.lst[2*index], self.lst[index] # swap current node and left node
                    new_index = 2*index
                    self._delete_swap(new_index)
            else:
                if self.lst[index][0] > self.lst[2*index+1][0] and 2*index + 1 < len(self.lst):
                    self.lst[index], self.lst[2*index+1] = self.lst[2*index+1], self.lst[index] # swap current node and right node
                    new_index = 2*index + 1
                    self._delete_swap(new_index)
            
                
    def insert(self,content):
        self.lst.append(content)
        self._swap(len(self.lst) - 1) # call swap function

    def delete(self): # remove smallest number
        self.lst = self.lst[0:1] + self.lst[2:] # remove smallest element
        self.lst.insert(1,self.lst.pop()) # move last element to first position
        self._delete_swap(1) # arrange the heap tree
        
# get data into list
tree = HeapTree()
for bk in book.allbook:
    tree.insert(bk)

### Operation

In [148]:
def menu():
    while True:
        try:
            choice = int(input('Input your choice (1,2,3): '))
            if choice == 1: # display 5 book
                for e in tree.lst[1:6]:
                    print(e)
            elif choice == 2:
                break # exit
            else:
                pass
        except:
            print('Re-enter! again')

menu()

(0, '3150000335', 'Philipp Reclam, Jun Verlag GmbH', ('Schiller', 'Kabale Und Liebe'), ('http://images.amazon.com/images/P/3150000335.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/3150000335.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/3150000335.01.LZZZZZZZ.jpg'))
(0, '342311360X', 'Deutscher Taschenbuch Verlag (DTV)', ('Gabriel Garcia Marquez', 'Die Liebe in Den Zelten'), ('http://images.amazon.com/images/P/342311360X.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/342311360X.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/342311360X.01.LZZZZZZZ.jpg'))
(0, '0718144538', 'Michael Joseph Ltd', ('Dick Francis', 'Shattered Uk'), ('http://images.amazon.com/images/P/0718144538.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0718144538.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0718144538.01.LZZZZZZZ.jpg'))
(0, '0571197639', 'Faber Faber Inc', ('Barbara Kingsolver', 'Poisonwood Bible Edition Uk'), ('http://images.amazon.com/images/P/0571197639.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0571197639.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0571197639.01.LZZZZZZZ.jpg'))
(0, '3596214629', 'Fischer Taschenbuch Verlag GmbH', ('Golding', 'Herr Der Fliegen (Fiction, Poetry and Drama)'), ('http://images.amazon.com/images/P/3596214629.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/3596214629.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/3596214629.01.LZZZZZZZ.jpg'))